//Colors #DDD #F5F5F5 #6495ED

img,
object {
  max-width: 100%;
  height: auto;
}
html {
  font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
    width: 25rem;
}


form {
 
  width: 20rem;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.4;
  background-color: #DDD;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
 
}
.box-title {
   position: absolute;
  z-index: 5; 
   top: -20px;
width: fit-content;
padding: 0.8rem;
  color: black;
  background-color: #F5F5F5;
font-size: 1rem;
  border: 0.1rem solid #DDD;
 
  
  
}
 .box-title h1{
   margin: 0;

.error {
  color: red;
}


label {
  color: black;
}

input[type="text"],
input[type="email"],
select {
  border: 0.1rem solid #DDD;
  
  
  padding: 0.3rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

textarea {
  border: 0.1rem solid #DDD;
  margin-bottom: 0.5rem;
  width: 100%;
  resize: none;
}



input[type="submit"] {
  margin-top: 1rem;
  
  font-size: 1.1rem;
  background-color: #6495ED;
  color: white;
  padding: 0.3rem 0;
  border: none;
  border-radius: 0.1rem;
  text-align: center;
  
  width: 100%;
}



/* //js errors for form */
.feedback-js {
  color: green;
}
.errors-js {
  color: red;
}
/* --------MEDIA QUERIES------- */

/* Landscape phone and up */

@media only screen and (min-width: 50rem) {
main {
    width: 90%;
    margin: 0 auto;
  }

h1 {
    color: #000000;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4,
  h5 {
    font-size: 1.1rem;
  }
  form {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  input[type="text"],
  select {
    width: 90%;
  }
  input[type="email"] {
    width: 97%;
  }

 
}
